<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.sys.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.wh.sys.entity.Menu">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PID" jdbcType="DECIMAL" property="pid" />
    <result column="HREF" jdbcType="VARCHAR" property="href" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="SPREAD" jdbcType="DECIMAL" property="spread" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="AVAILABLE" jdbcType="DECIMAL" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PID, HREF, TITLE, SPREAD, ICON, AVAILABLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_MENU
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wh.sys.entity.Menu">
    insert into SYS_MENU (ID, PID, HREF, 
      TITLE, SPREAD, ICON, 
      AVAILABLE)
    values (#{id,jdbcType=DECIMAL}, #{pid,jdbcType=DECIMAL}, #{href,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{spread,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR}, 
      #{available,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wh.sys.entity.Menu">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="href != null">
        HREF,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="spread != null">
        SPREAD,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="available != null">
        AVAILABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="spread != null">
        #{spread,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.sys.entity.Menu">
    update SYS_MENU
    <set>
      <if test="pid != null">
        PID = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="href != null">
        HREF = #{href,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="spread != null">
        SPREAD = #{spread,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        AVAILABLE = #{available,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.sys.entity.Menu">
    update SYS_MENU
    set PID = #{pid,jdbcType=DECIMAL},
      HREF = #{href,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SPREAD = #{spread,jdbcType=DECIMAL},
      ICON = #{icon,jdbcType=VARCHAR},
      AVAILABLE = #{available,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <!-- 查询所有菜单,包括传入id,查询出它下面的菜单 -->
  <select id="queryAllMenu" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu
    <where>
      <if test="title!=null and title!=''">
        and title like concat("%",#{title},"%")
      </if>
      <if test="available!=null">
        and available=#{available}
      </if>
      <if test="id!=null">
        and (id=#{id} or pid=#{id})
      </if>
    </where>
  </select>
</mapper>